QWidget {
    background-color:rgb(244, 244, 244);
    font-family: "Segoe UI";
    font-size: 14px;
}

QLabel {
    color: #333;
    font-weight: bold;
    margin: 10px;
}

QPushButton {
    background-color:rgb(204, 0, 44);
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
}

QPushButton:hover {
    background-color:rgb(0, 153, 79);
}
